body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-items: center;
  margin-right: 300px;
  margin-top: 150px;
}
.square {
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgb(27, 105, 129);
  margin-left: 10px;
  margin-top: 10px;
}
.s-6{
  background: rgb(8, 50, 63);
}
.btn{
  width: 120px;
  height: 40px;
  border: none;
  background-color: rgb(51, 58, 61);
  color: aliceblue;
  font-size: 1.2em;
  z-index: 100;
  cursor: pointer;
}